img.media-object.img-circle(ng-if="img_url", width='{{size || default_size}}px', height='{{size || default_size}}px', ng-src='{{img_url}}')
//- TODO change to css?
svg(ng-if="!img_url", width=64, height=64)
  circle(cx="31", cy="31", r="30", fill="{{color}}", stroke="black")
  text(x="31", y="31", style="font-size:43px; dominant-baseline: central;", text-anchor="middle")
    | {{symbol}}