[submodule "psa-bootstrap"]
	path = psa-bootstrap
	url = git@github.com:JumpLink/psa-bootstrap.git
[submodule "public/javascripts/angular_modules/angular-file-upload"]
	path = public/javascripts/angular_modules/angular-file-upload
	url = git@github.com:nervgh/angular-file-upload.git
[submodule "public/libraries/font-awesome"]
	path = public/libraries/font-awesome
	url = git@github.com:FortAwesome/Font-Awesome.git
[submodule "public/libraries/chroma.js"]
	path = public/libraries/chroma.js
	url = git@github.com:gka/chroma.js.git
