h1 About
p Diese Anwendung wurde entwickelt von
address
  strong Pascal Garber
  br
  | Bei der Kirche 12
  br
  | 27476 Cuxhaven
  br
  a(href="mailto:pascal.garber@gmail.com")
    | pascal.garber@gmail.com
p für
address
  strong Prüflabor Süd GmbH
  br
  | Tegelbarg 31a
  br
  | 24576 Bad Bramstedt
  br
  abbr(title="Telefon") T: 
  | +49 4192 89694-15 /-16
  br
  abbr(title="Fax") F: 
  | +49 4192 89694-17
  br
  a(href="mailto:info@rimtest.de") info@rimtest.de
h2 Funktionsweise
p Diese Anwendung dient zum internen unkomplizierten Informationsaustausch.
h2 Technik
p Diese Anwendung wurde mit folgenden Technologien entwickelt:
ul
  li AngularJS
  li Bootstrap
  li Node.js
  li Jade
  li Less
  li Moment.js