h1 About
p Diese Anwendung wurde entwickelt von
address
  strong Pascal Garber
  br
  | Bei der Kirche 12
  br
  | 27476 Cuxhaven
  br
  a(href="mailto:pascal.garber@gmail.com")
    | pascal.garber@gmail.com
p für
address
  strong Prüflabor Süd GmbH
  br
  | Tegelbarg 31a
  br
  | 24576 Bad Bramstedt
  br
  abbr(title="Telefon") T: 
  | +49 4192 89694-15 /-16
  br
  abbr(title="Fax") F: 
  | +49 4192 89694-17
  br
  a(href="mailto:info@rimtest.de") info@rimtest.de
h2 Funktionsweise
p Diese Anwendung dient zum internen unkomplizierten Informationsaustausch.
h2 Technik
p Diese Anwendung wurde mit folgenden Technologien entwickelt:
ul
  li
    a(href="http://nodejs.org/") Node.js
    |  - Platform for building fast, scalable network applications.
  li
    a(href="http://expressjs.com/") Express
    |  - Node.js web application framework.
  li
    a(href="http://jade-lang.com") Jade
    |  - Robust, elegant, feature rich template engine for Node.js.
  li
    a(href="http://momentjs.com/") Moment.js
    |  - Javascript date library for parsing, validating, manipulating, and formatting dates.
  li
    a(href="http://angularjs.org/") AngularJS
    |  - JavaScript model–view–controller framework for single-page applications.
  li
    a(href="http://www.lesscss.org/") Less
    |  - Dynamic stylesheet language
  li
    a(href="http://twitter.github.io/bootstrap/") Bootstrap
    |  - Sleek, intuitive, and powerful front-end framework for faster and easier web development.
  li
    a(href="http://www.rethinkdb.com/") RethinkDB
    |  - Intuitive query language, automatically parallelized queries, and simple administration built to store JSON documents.