doctype 5
html(lang="en", ng-app="app")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title
      | PSA - internal
    link(rel="stylesheet", href="stylesheets/style.css")
    script(src="http://code.jquery.com/jquery-latest.js")
    script(src="http://documentcloud.github.io/underscore/underscore.js")
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.js")
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular-sanitize.js")
    script(src="libraries/bootstrap-colorpicker.js")
    script(src="javascripts/angular_modules/angular-file-upload/angular-file-upload.js")
    script(src="javascripts/angular_modules/bootstrap-colorpicker-module.js")
    //- angular-ui bootstrap
    script(src="bower_components/angular-ui-bootstrap/src/dropdownToggle/dropdownToggle.js")
    script(src="http://code.angularjs.org/1.1.5/i18n/angular-locale_de-de.js")
    script(src="bower_components/angular-translate/angular-translate.min.js")
    script(src="libraries/moment.js/moment.min.js")
    script(src="libraries/moment.js/lang/de.js")
    script(src="libraries/chroma.js/chroma.min.js")
    script(src="javascripts/app.js")
    script(src="javascripts/services.js")
    script(src="javascripts/controllers.js")
    script(src="javascripts/filters.js")
    script(src="javascripts/directives.js")
    script.
      angular.module("app").constant('CSRF_TOKEN', '#{csrf_token}');
body
  .navbar.navbar-default.navbar-fixed-top(ng-controller="NavbarController")
    .navbar-header
      a.navbar-toggle(ng-click="show_nav_collapse = !show_nav_collapse")
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href="#")
         | {{ 'NAV_BRAND' | translate }}
    .collapse.navbar-collapse.navbar-ex1-collapse(ng-class="{false: 'collapse', true: 'in'}[show_nav_collapse]")
      ul.nav.navbar-nav(ng-click="show_nav_collapse = false")
        li(ng-class="{active:isActive('/about')}")
          a(href="#/about")
            | {{ 'NAV_ABOUT' | translate }}
        li(ng-class="{disabled:!isLoggedIn()}")
          a(href="#/messages")
            | {{ 'NAV_MESSAGES' | translate }}
        li(ng-class="{disabled:!isLoggedIn()}")
          a(href="#/users")
            | {{ 'NAV_USERS' | translate }}
      ul.nav.navbar-nav.pull-right
        li
          switchbutton(active="lang_switch")
            .btn-group
              button.btn.btn-default.navbar-btn(ng-click="toggleButton();", ng-class="{active:active}")
                img(src="/images/lang/german.svg", height="18px")
              button.btn.btn-default.navbar-btn(ng-click="toggleButton();", ng-class="{active:!active}")
                img(src="/images/lang/english.svg", height="18px" )
        li(ng-if="isLoggedIn()")
          p.navbar-text
            | {{ 'TXT_SIGNED' | translate }}
            a.navbar-link(href="#/user/{{getUser().email}}")
              | {{ getUser().name }}
        li(ng-if="isLoggedIn()")
          button.btn.btn-warning.navbar-btn(ng-click="logout()")
            | {{ 'BTN_LOGOUT' | translate }}
        li(ng-if="!isLoggedIn()", ng-click="show_nav_collapse = false")
          p.navbar-text
            | {{ 'TXT_NOTSIGNED' | translate }}
        li(ng-if="!isLoggedIn()", ng-click="show_nav_collapse = false", ng-class="{active:isActive('/login')}")
          button.btn.btn-success.navbar-btn(type="button", ng-click="login()")
            | Login
  #flash.alert(class="alert-{{flash.type}}", ng-show="flash.message")
    | {{flash.message}}
  .container(ng-view)