form.form-signin(ng-submit="login()", name="loginForm")
  .form-group
    h2
      | {{ 'TXT_SIGNIN' | translate }}
    .control-group(ng-class="{'has-error':loginForm.$invalid, 'has-success':!loginForm.$invalid}")
      .controls
        input.form-control(type="email", name="email", placeholder="{{ 'PLACEHOLDER_EMAIL' | translate }}", ng-model="credentials.email", required)
        input.form-control(type="password",name="password", placeholder="{{ 'PLACEHOLDER_PWD' | translate }}", ng-model="credentials.password", required)
    //- .checkbox
      label
        input(type="checkbox", value="remember-me", disabled)
        | {{ 'LBL_REMEMBER' | translate }}
    button.btn.btn-lg.btn-primary.btn-block(type="submit", ng-disabled="loginForm.$invalid") {{ 'BTN_SIGNIN' | translate }}