ul.media-list
  li.media(ng-controller="TimeController")
    a.pull-left(href='#')
      img.media-object.img-circle(width='64px', height='64px', src='images/placeholder.jpg')
    .media-body
      h4.media-heading {{ getUsername() }} 
        small {{ now | date:'medium' }}
      textarea(rows="3")
  li.media(ng-repeat="message in messages")
    a.pull-left(href='#')
      img.media-object.img-circle(width='64px', height='64px', src='images/placeholder.jpg')
    .media-body
      h4.media-heading {{ message.from }} 
        small {{ message.timestamp | fromNow }}
      p
        | {{ message.message }}