ul.media-list
  li.media(ng-controller="TimeController")
    a.pull-left(href='#')
      userimage(img="getUser()._id", color="getUser().color")
    .media-body
      h4.media-heading
        a(href="#/user/{{ getUser().email }}"){{ getUser().name }} 
        small(title="now") {{ now | date:'medium' }}
      form(ng-submit="sendMessage()", name="MessageForm")
        textarea.form-control(rows="3", ng-model="new_message.message", required)
        button.btn.btn-lg.btn-primary.btn-block(type="submit", ng-disabled="MessageForm.$invalid") Send
  li.media(ng-repeat="message in messages | orderBy:'timestamp':true")
    a.pull-left(href='#')
      userimage(img="message.author._id", color="message.author.color")
    .media-body
      h4.media-heading
        a(href="#/user/{{ message.from }}"){{ message.author.name }} 
        small(title="{{message.timestamp | date:'medium'}}") {{ message.timestamp | fromNow }}
      //- WORKAUROUND use ng-bind-html-unsafe to display umlaute
      p(ng-bind-html-unsafe="message.message")