ul.media-list
  li.media
    a.pull-left(href='#')
      userimage(color="user.color", img="user._id", username="user.name")
    .media-body
      h4.media-heading
        | {{ user.name }}
        small {{user.email}} {{user._id}}
      form(ng-submit="changeUser()", name="userForm")
        .form-group
          label Email address
          input.form-control(type="email", id="InputEmail", placeholder="Enter email", ng-model="user.email", required)
        .form-group
          label Name
          input.form-control(type="text", id="InputName", placeholder="Enter name", ng-model="user.name", required)
        .form-group
          label Password
          input.form-control(type="password", id="InputPassword", placeholder="Password", ng-model="user.password")
        .form-group
          label Color
          .input-group
            span.input-group-addon
              i.icon-sign-blank(style="color: {{user.color}};")
            input.form-control(colorpicker="hex", value="", type="text", ng-model="user.color", required)
        button.btn.btn-lg.btn-primary.btn-block(type="submit", ng-disabled="userForm.$invalid") Save
        .form-group
          label Image
          input.form-control(ng-file-select, type="file", id="InputImage", placeholder="Image")
        .media(ng-repeat="item in uploader.queue")
          a.pull-left(href="#")
            img.media-object.img-circle(ng-src="{{item.preview}}", width="64px", height="64px")
          .media-body
            h4.media-heading {{new_user.name}}
            | Number of images: {{ uploader.queue.length }}
            br
            | Name: {{ item.file.name }}
            br
            | Size: {{ item.file.size }}
            br
            .item-progress(ng-style="{ 'width': item.progress + '%' }")
            div Uploaded: {{ item.isUploaded }}
            .btn-group.pull-right
              a.btn.btn-success(ng-href="#", ng-click="$event.preventDefault(); item.upload()", ng-hide="item.isUploaded") Save
              a.btn.btn-danger(ng-href="#", ng-click="$event.preventDefault(); item.remove()") Remove
        .progress
          .progress-bar(aria-valuenow="60", aria-valuemin="0", aria-valuemax="100", ng-style="progress_bar_style")